.App {
  font-family: sans-serif;
  text-align: center;
}

.result {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.list {
  text-align: left;
  margin-left: 40px;
}

.checkboxStyle {
  margin-right: 20px;
}

.done {
  text-decoration: line-through;
  color: gray;
}

.notDone {
  text-decoration: none;
  color: black;
}
